<a href="https://colab.research.google.com/github/marcosgoval/EstudosDataScienceMarcos/blob/main/1_conceitos_basicos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print ("Estudos Python")

Estudos Python

In [2]:
exit()

In [6]:
nome =  input ('Qual melhor linguagem:')
if nome == "python":
  print("Acertou miseravi!")
else: 
  print("errou =(")

IndentationError: ignored

In [ ]:
# Isto é um comentário

In [12]:
dicionario = {"nome":"Guido", "idade":28}
print( dicionario)
type(dicionario)

{'nome': 'Guido', 'idade': 28}

dict

In [13]:
lista = ["item","item2",3,"quatro",3.14]
print(lista)
type(lista)

['item', 'item2', 3, 'quatro', 3.14]

list

In [15]:
tupla =  (1,2,3,"Python")
print (tupla)
type (tupla)

(1, 2, 3, 'Python')

tuple

In [17]:
print(10+10) 
print(10+(50+50)) 
print(10-10*5) 
print(1000%80) #resto
print(10**5) #exponencial
print(10/6) #divisão
print(10//6) #modulo , parte inteira

20
110
-40
40
100000
1.6666666666666667
1

In [24]:
x = 1
if 0 < x:
    if x < 10:
        print('#x um dígito menor que 10')

#x um dígito menor que 10

In [33]:
x = 1
while x < 10:
	print("Número: %s" %x)
	x += 1
print("O while acabou :)")

Número: 1
Número: 2
Número: 3
Número: 4
Número: 5
Número: 6
Número: 7
Número: 8
Número: 9
O while acabou :)

In [35]:
fruta = ["laranja","Melancia","Uva"]
type(fruta)
for f in fruta:
  print(f)

laranja
Melancia
Uva

In [36]:
#Contagem decremento
for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [47]:
def divisao(dividendo,divisor):
  quociente = dividendo // divisor
  resto = dividendo % divisor
  return quociente, resto

q, r = divisao(35,3)
print(q,r)
_,r = divisao(35,3)
print(_,r)
q,_  = divisao(35,3)
print(q,_)

11 2
11 2
11 2

In [48]:
#Lambda
var = lambda x: x*2
print(var(2))

4

In [52]:
#lambda
anonimas = [lambda x: x** 2,lambda x: x**3, lambda x: x** 4]
for a in anonimas:
  print(a(10))

100
1000
10000